<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Monkey King Form</title>
</head>
<body>
  <h1>Mad Libs</h1>
  <div>
    <form action="/monkey">
      <label for="kingName">Enter a name: </label>
      <input type="text" id="kingName" name="kingName">
      <label for="natureLocation">Enter a location in nature: (Example: forest)</label>
      <input type="text" id="natureLocation" name="natureLocation">
      <label for="adjective1">Enter an adjective that starts with a vowel: </label>
      <input type="text" id="adjective1" name="adjective1">
      <label for="adjective2">Enter another adjective that starts with a vowel: </label>
      <input type="text" id="adjective2" name="adjective2">
      <label for="weaponAdjective">Enter an adjective: </label>
      <input type="text" id="weaponAdjective" name="weaponAdjective">
      <label for="weapon">Enter a weapon: </label>
      <input type="text" id="weapon" name="weapon">
      <label for="animal">Enter an animal: </label>
      <input type="text" id="animal" name="animal">
      <label for="animalHeroName">Enter another name: </label>
      <input type="text" id="animalHeroName" name="animalHeroName">
      <label for="heroWeapon">Enter another weapon: </label>
      <input type="text" id="heroWeapon" name="heroWeapon">
      <button type="submit">Generate</button>
    </form>
  </div>
</body>
</html>