<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs</title>
</head>

<body>
  <h1>Mad Libs</h1>
  <h2>Select a storyline</h2>
  <nav>
    <a href="/monkey/form">The Monkey King</a>
  </nav>
</body>

</html>